<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joseph.gellery_image">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LwEditor"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditActivity_1" />
        <activity android:name=".SelectActivity" />
        <activity android:name=".StartingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".template.template_1" />
        <activity android:name=".template.template_2" />
        <activity android:name=".SelectTemplate" />
        <activity android:name=".template.template_3" />
        <activity android:name=".template.MainActivity" />
        <activity
            android:name="com.urza.multipicker.FolderListActivityFragmented"
            android:label="@string/app_name">

            <!--
                 define your own intent handling here
                specify mediatype - check MultiPicker class
                or even include previous selection as defined in
                FolderListActivityFragmented
            -->
        </activity>
        <activity android:name=".MultiTemplate" />
        <activity android:name=".SingleMedia" />
        <activity android:name=".SingleMediaActivity" />
        <activity android:name=".multiTemplate.multiTemplate_1" />
        <activity android:name=".EditActivity_2" />
        <activity android:name=".EditActivity_3" />
        <activity android:name=".SinglePreview" />
        <activity android:name=".multiTemplatePlay.multiTemplatePlay_1" />
        <activity android:name=".template.template_5" />
        <activity android:name=".template.template_6" />
        <activity android:name=".template.template_7" />
        <activity android:name=".template.template_8" />
        <activity android:name=".template.template_9" />
        <activity android:name=".template.template_10" />
        <activity android:name=".SelectMutiTemp"></activity>
    </application>

</manifest>
